{% extends "base.html" %}

{% block title %}{{ user.get_full_name|default:user }} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{{ user.get_full_name|default:user }}</h2>
        <p>This page allows you to customize your user profile.</p>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <!-- ... -->
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Tools</h3>
                </div>
                <div class="panel-body">
                    <ul class="nav">
                        <li>
                            <a href="{% url "myrig.accounts.views.change_display_name" %}">
                                <span class="glyphicon glyphicon-tag"></span>
                                &nbsp;
                                Change Display Name
                            </a>
                        </li>
                        <!--
                        <li>
                            <a href="#">
                                <img src="/static/img/openid.png">
                                &nbsp;
                                Add an OpenID
                            </a>
                        </li>
                        -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
