{% load static %}

<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url "home" %}">
            MyRig
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="#">
                    <img src="{% static "img/openid.png" %}">
                    &nbsp;
                    Login / Register
                </a>
            </li>
        </ul>
    </div>
</div>
